/*color scheme*/
$dark: rgba(0, 0, 2, 1.0000);
$light-gray: rgba(195, 194, 190, 1.0000);
$orange: rgba(234, 167, 50, 1.0000);
$gradient1: linear-gradient(bottom, $light-gray, lighten($light-gray,10%));
$gradient2: linear-gradient(top, $light-gray, lighten($light-gray,10%));


@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

body{
	margin: 0;
	padding: 0;
	background: $light-gray;
	font-family: 'Roboto Slab', serif;
}

p {
	display: inline-block;
}

.container {
	width: 1280px;
	margin: 0 auto;
	z-index: 88888;
	// border: 1px solid red;
}

header {
	height: 200px;
	img {
		z-index: 77777;
	}


}

.right-title-content {
	width: 70%;
	height: 100%;
	background: $gradient2;
	float: right;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	position: relative;
	z-index: 55555;

	.right-title {
		height: 100%;
		h2 {
			font-size: 80px;
			margin-left: 50px;	
		}
		span {
			color: $orange;
			text-shadow: 2px 2px #fff;
		}

	}
	.right-shadow {
		width: 92%;
		float: right;
		margin-right: 8px;
		height: 1px;
		z-index: 66666;

		box-shadow: 1px 1px 1px $dark;
		border-radius: 10px;
	}
}
.left-title {
		display: inline-block;
		width: 29%;
		margin: 0;
		float: left;
		h1 {
			font-size: 150px;
			margin: 0;
			color: #fff;
			text-shadow: 3px 1px $orange;
			span {
				font-size: 100px;
			}
		}
	}
footer {
	height: 400px;
}

.main {
	height: 600px;
}
.left-content {
	width: 35%;
	height: 100%;
	// background: $gradient1;
	border-top-left-radius: 8px;
	padding: 10px;
	p {
		font-weight: 300;
		color: $dark;
	}
	hr {
		width: 70%;
		color: #000;
	}
	.climbing-photo {
		width: 75%;
		box-shadow: 1px 1px 1px darken($light-gray, 25%);
	}
	img {
		width: 100%;
	}
}

.right-content {
	width: 64%;
	height: 100%;
}

.box-quote {
	position: relative;
	top: -120px;
	width: 60%;
	height: auto;
	text-align: center;
	// border: 1px solid darken($light-gray, 10%);
	padding: 5px;
	p {
		color: $light-gray;
	}
	span {
		color: darken($orange, 20%);
		font-weight: 400;
	}
}