/*color scheme*/
$background: rgb(241, 238, 234);
$dark: rgba(0, 0, 2, 1.0000);
$light-gray: rgba(195, 194, 190, 1.0000);
$o-light-gray: rgba(195, 194, 190, 0.8);
$orange: rgba(234, 167, 50, 1.0000);
$gradient1: linear-gradient(top, $dark, lighten($light-gray,10%));
$gradient2: linear-gradient(top, $light-gray, lighten($light-gray,10%));


@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

body{
	margin: 0;
	padding: 0;
	background: $background;
	font-family: 'Roboto Slab', serif;
}

p {
	display: inline-block;
}

.container {
	width: 100%;
	margin: 0 auto;
	z-index: 88888;
}

header {
	height: 200px;
	img {
		z-index: 77777;
	}
}

.title-content {
	width: 94%;
    margin-right: 3%;
	height: 100%;
	background: $gradient2;
	float: right;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	position: relative;
	z-index: 55555;
	box-shadow: 0px 8px 6px -8px #000;
}

.title {

	height: 100%;
	h2 {
		font-size: 70px;
		margin-left: 50px;
		color: $orange;
		text-shadow: 2px 2px #fff;
        display: inline;
	}
    h1 {
        display: inline-block;
        font-size: 100px;
        margin: 10px;
        color: #fff;
        text-shadow: 3px 1px $orange;
        #small-caps {
            font-size: 80px;
        }
		span {
			font-size: 50px;
		}

	}
}

.title-shadow {
	width: 92%;
	float: right;
	margin-right: 8px;
	height: 1px;
	z-index: 66666;
	box-shadow: 1px 1px 1px $dark;
	border-radius: 10px;
}


footer {
	height: 400px;
}

.main {
	height: 600px;
}
.left-content {
	width: 35%;
	height: 100%;
	// background: $gradient1;
	border-top-left-radius: 8px;
	padding: 10px;
	float: left;
	p {
		font-weight: 300;
		color: $dark;
	}
	hr {
		width: 70%;
		color: #000;
	}
	.climbing-photo {
		width: 85%;
		position: relative;
		// box-shadow: 1px 1px 1px darken($light-gray, 25%);
	}
	img {
		width: 100%;
	}
}

.primary {
	width: 90%;
    margin-left: 5%;
    // min-height: 800px;

}
.content {
	width: 100%;
	background: lighten($light-gray, 25%);
	height: 100%;
	text-align: center;
	h3 {
		margin: 0;
		font-size: 40px;
		text-shadow: 1.5px 1px $orange;

	}
}

.box-quote {
	position: relative;
	top: -120px;
	width: 60%;
	height: auto;
	text-align: center;
	margin-left: 10px;
	padding: 5px;

	p {
		color: $light-gray;
	}

	span {
		color: darken($orange, 20%);
		font-weight: 400;
		font-size: 18px;
	}
}

.sub-box-links {
	width: 75%;
	position: relative;
	top: -136px;
	left: 20px;
	a {
		color: darken($orange, 20%);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:visited {
			text-decoration: none;
		}
	}
}
.showcase	{
	padding: 10px;
    #name {
        float: right;
    }
	h3	{
		font-size: 30px;
	}
	img	{
		width: 100%;
		margin-top: 30px;
	}
    hr {
        clear: both;
    }
}

.tech-slideshow {
	width: 400px;
	height: 100px;
	position: relative;
	top: -100px;
}
.about-me {
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	height: 70%%;
	position: absolute;
	top: 0;
	left: 0;
	background: $o-light-gray;
	padding: 20px;
	text-align: center;
	color: $dark;
	text-shadow: 0.5px 0.5px $orange;
	box-sizing: border-box;
	display: none;
}
#about {
	cursor: pointer;
}

.display {
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
}
